@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 500px;
    text-wrap: wrap;
    padding: 50px 20px;
    width: 98%;
}
#profile{
    text-align: center;
}
#profile .img-part img{
    width: 200px;
    border-radius: 50%;
}
.text-box{
    padding: 10px 30px;
}
.text-box p{
    text-align: justify;
}